<div id="search-component" class="container">
  <form [formGroup]="searchForm">
    <div class="container">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="term">Term</label>
          <input type="text" formControlName="term" id="term" placeholder="Input search text here" class="form-control"/>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="tag">Type</label>
          <select formControlName="tag" id="tag" class="form-control">
            <option *ngFor="let t of tags" [ngValue]="t">
              {{ t.displayName }}
            </option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="hitsPerPage"> PerPage</label>
          <select formControlName="hitsPerPage" id="hitsPerPage" class="form-control">
            <option *ngFor="let count of hitsPerPages" [ngValue]="count">
              {{ count }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </form>


  <div *ngIf="searchResult$ | async as result">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">Total Hits {{result.nbHits}}, Total Page {{result.nbPages}}</a>
    </nav>
      <app-news-list [hits]="result.hits"></app-news-list>
      {{result.hitsPerPage}}
  </div>
</div>

